[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = https://github.com/zfsonlinux/
[submodule "submodules/ubuntu-kernel"]
	path = submodules/ubuntu-kernel
	url = https://github.com/ubuntu/ubuntu-kernel.git
